<div class="support-part">
	<div class="support-title" style="background-color:#62a8ea">
		<br>
		<h1>关于</h1>
		<br>
	</div>
	<div class="container">
	<br>
  		<div class="sub-nav" style="width:40%;margin:0 auto">
       			<ul class="nav nav-default nav-justified" role="tablist" >
          			<li role="presentation">
          				<a  title="关于我们" ng-click="c1()" ng-class="act1">关于我们</a>
          			</li>
          			<li role="presentation">
            			<a  title="联系我们" ng-click="c2()" ng-class="act2">联系我们</a>
         			</li>
         			<li role="presentation">
            			<a  title="加入我们" ng-click="c3()" ng-class="act3">加入我们</a>
         			</li>
         			<li role="presentation">
            			<a  title="意见反馈" ng-click="c4()" ng-class="act4">意见反馈</a>
         			</li>
				</ul>
		</div>
	</div>
	<br>
	<div class="bg-color">
	<div class="container">
	<div class="about-body company-body">
		<div class="about-page1" ng-show="about1">
          <div class="page-header">
            <br>
            <img src="images/about.jpg" style="width:100%">
            <br><br>
          </div>
          <div class="about-content">
            <p>某科技公司是一个诞生于2013年机器人浪潮来袭前际，总部位于“硬件之都”中国深圳。</p>
            <p>我们是一群热衷于智能机器人的极客、设计师和发烧友，对未来充满无限创想、野心和激情。“在最好的时光里，撒野去”是我们所倡导的品牌文化，号召属于这个时代的年轻人，不羁束缚、随心逐梦！</p>
            <p>比普通创客幸运一些的是，我们成立之初，就在语义技术、图数据管理和供应链方面拥有比较丰富的经验和积累，并且、汇聚整合了完善的生产链条和多元的渠道资源，我们愿意拥抱大胆有趣的产品理念，为用户创造更多的惊喜！</p>
          </div>
        </div>
        <div class="about-page2" ng-show="about2">
          <div class="page-header">
            <br>
            <img src="images/about1.png" style="width:100%">
            <br><br>
          </div>
          <div class="about-content">
            <p><b>某某科技有限责任公司</b></p>
            <p>地址： XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <p>电话： 00000000000</p>
            <p>邮编： 000000</p>
            <p>传真： 00000000000-0000</p>
          </div>
        </div>
        <div class="about-page3" ng-show="about3">
        <div class="pos1">
          <div class="page-header">
            <br>
            <h2>IOS应用开发高级工程师</h2>
            <br><br>
          </div>
          <div class="about-content">
            <p>工作职责：</p>
            <p>
            	<ol>
            		<li>负责产品和业务iOS平台软件的研发和维护</li>
            		<li>参与产品和业务相关技术研究、架构制定</li>
            	</ol>
            </p>
            <p>工作要求：</p>
            <p>
            	<ol>
            		<li>精通Objective-C/SWIFT/C/C++等语言和面向对象编程思想，熟练掌握常用的设计模式；</li>
            		<li>硕士或以上学历，计算机、通信、电子等相关专业毕业；</li>
            		<li>具备2年以上iOS开发经验，参与过中型以上项目开发，并承担关键工作；</li>
            		<li>对数据结构、基本算法熟练掌握，并具备基本的算法设计能力；</li>
            		<li>思维敏捷，思路清晰，工作积极主动，能够承受较大工作压力。</li>
            	</ol>
            </p>
          </div>
          </div>
          <div class="pos2">
          	<div class="page-header">
            <br>
            <h2>数据产品运营</h2>
            <br><br>
          </div>
          <div class="about-content">
            <p>工作职责：</p>
            <p>
            	<ol>
            		<li>负责数据类产品的运营及品牌市场推广工作，提升产品知名度</li>
            		<li>定期发布行业报告，提升数据产品的行业影响力</li>
            		<li>熟悉当前流行的微信、知乎等新媒体的传播规则，制定运营策略</li>
            		<li>负责跨内外产品合作，媒体合作等，协调可用资源，协同推进项目整体规划</li>
            		<li>对运营数据进行分析，并以此为依据不断优化运营手段</li>

            	</ol>
            </p>
            <p>工作要求：</p>
            <p>
            	<ol>
            		<li>熟悉互联网行业，1年以上产品运营工作经验</li>
            		<li>能够理解数据产品的商业模式和产业生态</li>
            		<li>有较强的市场活动策划能力，文案、阐述能力优秀、创意能力突出，思维活跃，熟悉创新媒体的营销方式</li>
            		<li>具有良好的沟通能力、推动能力、协调能力，拥有强烈的责任心和团队合作精神</li>
            		<li>有数据统计类、大数据相关领域产品的运营、推广经验者优先</li>
            	</ol>
            </p>
          </div>
          </div>
          </div>
        </div>
        <div class="about-page4" ng-show="about4">
          <div class="page-header">
            <br>
            <br><br>
          </div>
          <div class="about-content">
            <p style="line-height:2.5;font-size:14px">反馈类型</p>
           	<p style="line-height:2.;font-size:14px">
				<input type="radio" name="aaa" value="选项一">   产品建议<br>
				<input type="radio" name="aaa" value="选项二">   网站设计<br>
				<input type="radio" name="aaa" value="选项三">   文章内容<br>
				<input type="radio" name="aaa" value="选项四">   其他<br><br>
			</p>
            <p><textarea placeholder="反馈内容" style="width:100%;height:150px;"></textarea></p>
            <br>
            <p><input placeholder="您的邮箱" style="width:100%;height:40px"></p>
            <br>
            <button class="btn btn-primary" style="width:100%;height:40px">提交</button>
            <br>
            <hr>
            <br><br>
            
          </div>
        </div>
        <br><br><br><br>
        </div>
        </div>
	</div>
</div>
