
<div class="container">
<br>
<div class="navbar navbar-default" role="navigation">
	<div class="rows">
	</div>
	<div class="rows">
		<div class="col-md-9 col-md-offset-1">
			<div class="page-header">			
				<h2>
					<span class="glyphicon glyphicon-user"></span>&nbsp&nbsp用户登录
				</h2>
			</div>
			<div class="rows">
				<div class="col-md-8 col-md-offset-2">
					<input class="input input-lg" type="text" placeholder="用户名" style="width:100%"></input>
					</br>
					</br>
					<input class="input input-lg" type="password" placeholder="密码" style="width:100%"></input>
					</br>
					</br>
					<button type="submit" class=" btn btn-primary btn-lg" style="width:100%">登&nbsp录</button>
					</br>
					</br>
					<button type="" class=" btn btn-primary btn-lg" style="width:100%"><a style="color:#fff" ui-sref="signup">没有账号？现在去注册</a></button>
					<br><hr>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>