<div class="container">
<br>
<div class="navbar navbar-default" role="navigation">
	<div class="rows">
	</div>
	<div class="rows">
		<div class=" col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="page-header">			
				<h2>
					<span class="glyphicon glyphicon-plus"></span>&nbsp&nbsp用户注册
				</h2>
			</div>
			<div class="rows">
				<div class="col-md-8 col-md-offset-2">
					<form role="form" name="myForm" ng-submit="submitForm(myForm.$valid)"  novalidate>
		                <div class="form-group  has-feedback">
		                    <label for="name">用户名：</label>    
		                    <input class="form-control input-lg" id="name" name="name" type="text" required ng-model='user.name' placeholder="请输入用户名" />
		                    <span class="glyphicon glyphicon-ok form-control-feedback"
		                              ng-show="myForm.name.$dirty && myForm.name.$valid"></span>
		                </div>

		                <div class="form-group  has-feedback">
		                    <label for="minlength">密码：</label>
		                    <input type="password" id="minlength" name="minlength" ng-minlength="6" ng-model="user.minlength" class="form-control input-lg" required placeholder="请输入密码（由6位以上数字、符号、字母组成）" />
		                    <span class="glyphicon glyphicon-ok form-control-feedback"
		                              ng-show="myForm.minlength.$dirty && myForm.minlength.$valid"></span>
		                </div>

		                <div class="form-group  has-feedback">
		                    <label for="phone">联系方式：</label>
		                    <input type="text" id="phone" name="phone" ng-model="user.phone" ng-pattern="/^[1][358][0-9]{9}$/" class="form-control input-lg" required placeholder="请输入11位手机号"/>
		                    <span class="glyphicon glyphicon-ok form-control-feedback"
		                              ng-show="myForm.phone.$dirty && myForm.phone.$valid"></span>
		                </div>
		                <div class="form-group  has-feedback">
		                    <label for="email">邮箱：</label>
		                    <input type="email" id="email" name="email" ng-model="user.email" class="form-control input-lg" required placeholder="请输入邮箱"/>
		                    <span class="glyphicon glyphicon-ok form-control-feedback"
		                              ng-show="myForm.email.$dirty && myForm.email.$valid"></span>
		                </div>
		                

		            
		            	<input type="checkbox" >阅读并接受
							<a data-toggle="modal" data-target="#protocal">
								《用户协议》
							</a>
						</input>
						<div class="modal fade" id="protocal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h4 class="modal-title">用户协议</h4>
									</div>
									<div class="modal-body">
										<p>
											<b>一、总则</b></br>
												1．1　用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示用户与百度公司达成协议，完全接受本协议项下的全部条款。</br>
												1．2　用户注册成功后，百度将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
											<b>二、注册信息和隐私保护</b></br>
												2．1　百度帐号（即百度用户ID）的所有权归百度，用户完成注册申请手续后，获得百度帐号的使用权。用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，并对问题发生所带来的后果，百度不负任何责任。如果因注册信息不真实或更新不及时而引发的相关问题，百度不负任何责任。</br>

										</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									</div>
								</div>
							</div>
						</div>
					</br>
					</br>
					<div class="form-group  text-center">
		                <input class="btn btn-primary btn-lg" ng-disabled="myForm.$invalid" type="submit" value="注 册" style="width:100%"></button>
		            </div>
					</br>   
				</form>

			</div>
		</div>
	</div>
</div>
</div>