			<div class="container">
				<br><br>
				<div class="col-md-3" ng-show="num4">
	              <div class="product">
	                <a ui-sref="detail" title="Phantom 4">
	                  <img src="images/plane1.jpg" style="width:100%" >
	                </a>
	                <h4>
	                  <a ui-sref="detail">Phantom 4</a>
	                  <p class="price">9999.00元</p>
	                </h4>
	              </div>
	            </div>
	            <div class="col-md-3" ng-show="num1">
	              <div class="product">
	                <a ui-sref="detail" title="Apple Watch Sport">
	                  <img src="images/watch2.jpg" style="width:100%">
	                </a>
	                <h4>
	                  <a ui-sref="detail">Apple Watch Sport</a>
	                  <p class="price">2288.00元</p>
	                </h4>
	              </div>
	            </div>
	            <div class="col-md-3" ng-show="num2">
	              <div class="product" >
	                <a ui-sref="detail" title="Pico Neo">
	                  <img src="images/VR2.jpg" style="width:100%" >
	                </a>
	                <h4>
	                  <a ui-sref="detail">Pico Neo</a>
	                  <p class="price">3399.00元</p>
	                </h4>
	              </div>
	            </div>
	            
	            <div class="col-md-3" ng-show="num1" >
	              <div class="product">
	                <a ui-sref="detail" title="儿童手表">
	                  <img src="images/watch1.jpg" style="width:100%" >
	                </a>
	                <h4>
	                  <a ui-sref="detail">儿童手表</a>
	                  <p class="price">999.00元</p>
	                </h4>
	              </div>
	            </div>
	            <div class="col-md-3" ng-show="num1">
	              <div class="product">
	                <a ui-sref="detail" title="Apple Watch Sport">
	                  <img src="images/watch2.jpg" style="width:100%">
	                </a>
	                <h4>
	                  <a ui-sref="detail">Apple Watch Sport</a>
	                  <p class="price">2288.00元</p>
	                </h4>
	              </div>
	            </div>
	            <div class="col-md-3"  ng-show="num3">
	              <div class="product">
	                <a ui-sref="detail" title="九号平衡车">
	                  <img src="images/car.jpg" style="width:100%" >
	                </a>
	                <h4>
	                  <a ui-sref="detail">九号平衡车</a>
	                  <p class="price">1999.00元</p>
	                </h4>
	              </div>
	            </div>
	            <div class="col-md-3"  ng-show="num2">
	              <div class="product">
	                <a ui-sref="detail" title="Gear VR">
	                  <img src="images/VR1.jpg" style="width:100%" >
	                </a>
	                <h4>
	                  <a ui-sref="detail">Gear VR</a>
	                  <p class="price">1288.00元</p>
	                </h4>
	              </div>
	            </div>

	        </div> 